body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:14px;
}

li:first-child {
    color:burlywood;
}

li:last-child {
    color:brown;
}

li:nth-child(3) {
    color:blueviolet;
}

li:nth-child(even) {
    color:crimson;
}