body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:13px;
}

ul { margin:0;padding:0;list-style:none }

li {
    width:200px;
    padding: 5px;
    background-color:#ddd;
    margin-bottom: 1px;
}

li:nth-child(3n+1) {
    background-color:aquamarine;
}