body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:13px;
    margin:0;padding:0;
}

#menu {
    width: 800px;
    margin: 0 auto;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

#menu ul li {
    float:left;
    position:relative;
}

/* Menu horizontal principal */
#menu ul li a {
    display:inline-block;
    text-decoration:none;
    color:darkgray;
    background: #FFF;
    padding: 5px 10px;
    border: 1px solid darkgrey;
    margin-right:-1px;
    width: 110px;
}

#menu ul li a:hover {
    background-color:#ddd;
}

/* Submenu */
#menu ul li ul {
    padding-top:5px;
    display:none;
    position:absolute;
}

/* Itens do submenu */
#menu ul li ul li a {
    width: 110px;
    margin-top: -1px;
}

#menu ul li ul li a:hover  {
    background-color:#ddd;
}

/* PULO DO GATO!!  Faz aparecer o menu */
#menu li:hover ul {
    display:block;
}

