html {
    background-color: #EFEFEF;
}



#principal {
    width:700px;
    margin:0 auto;
    background-color:#9C3;
    padding:10px;
}

#principal:after{
    content:"";
    display:table;
    clear:both;
}

.janela {
    float:left;
    width:300px;
    background: #FC3;
    margin: 10px;
    padding:5px;
}

p {
    margin:0;
}