html, body {
    margin:0;
    padding:0;
}

html {
    background:rgb(229,229,229);
}

article, aside, section, header, footer, nav {
    display:block;
}

main {
    width:600px;
    background-color:rgb(255,255,255);
    margin:2em auto;
}

div {
    margin-bottom:1em;
    margin-right:2em;
    width:150px;
    height:50px;
    padding:25px;
    font-size:12px;
    float:left;
}

.janela1 {
    background-color:rgb(0,153,204);	
    float: right;
    width: 50px;
    height: 200px;
}

.janela2 {
    background-color:rgb(255,204,51);
    float: left;
    width: 50px;
    height: 300px;
}

.janela3 {
    background-color:rgb(153,204,51);
    clear: both;

}

.janela4 {
    background-color:rgb(255,102,51);
    clear:left;
}

.janela5 {
    background-color:rgb(153,51,204);
}

.janela6 {
    background-color:rgb(255,102,255);
}